<!-- <!doctype html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="css/site.css" type="text/css"/>
</head>
<body>
<h3>About</h3>
</body> -->

{{!-- 
<!DOCTYPE html>
<html lang="en">
  
<head>
   <meta charset="UTF-8" />
   <title>About</title>
   <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
   <link rel="stylesheet" href="css/site.css" type="text/css"/>
   <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
</head>
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container"> --}}
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Congjia Lu - the developer</h2>
					<p>Hi Everyone,</p>
                    <p>My name is Congjia Lu and I'm a third semester student in the Computer Programming and Analysis program at Seneca College. I have learnt a bit of HTML, CSS, Javascript, and Node.js so far and they are all very fascinating!</p>
                    <p>I hope I can be a web developer after graduate!</p>
					</article>
				</section>
		</div>
	{{!-- </div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>© 2017 - Congjia Lu</h2>
			</div>
		</div>
	</div>
   </footer>
</body>

</html> --}}